# Normalize line endings
* text=auto eol=lf

# Explicitly set EOL for PowerShell scripts (Standardized to LF)
*.ps1 text eol=lf
*.psm1 text eol=lf

# Ensure shell scripts use LF
*.sh text eol=lf
*.template text eol=lf

# Python files
*.py text eol=lf
