$packageName = '{{NAME_LOWER}}'
$url64 = '{{REPO_URL}}/releases/download/v{{VERSION}}/{{NAME}}_{{VERSION}}_x64-setup.exe'
$silentArgs = '/S'

Install-ChocolateyPackage -PackageName $packageName `
                          -FileType 'exe' `
                          -SilentArgs $silentArgs `
                          -Url64bit $url64 `
                          -Checksum64 '' `
                          -ChecksumType64 'sha256'
